<html>
    <head>
        <title>Item Details</title>
    </head>

    <body>
        <h1>Welcome to the Naluri Take Home Project!</h1>
        <h4>Here on this page, you will find the URLs to get started with this project!</h4>

        <ul>
            <li>
                GET <a href="/calculating_pi/start">/calculating_pi/start</a> - Starts the calculation.
            </li>
            <li>
                GET <a href="/calculating_pi/result">/calculating_pi/result</a> - The page to get the latest calculation of PI and the circumference of the sun. Keep refreshing to see new ones!
            </li>
            <li>
                GET <a href="/calculating_pi/stop">/calculating_pi/stop</a> - Stops the calculation, but doesn't actually work.
            </li>
        </ul>
        
    </body>
</html>

